@import "tailwindcss";

   @media (max-width: 1280px) {
            #right-bar {
                display: none !important;
            }
        }
        
        @media (max-width: 1024px) {
            #sidebar span {
                display: none;
            }
            #sidebar {
                width: fit-content;
                align-items: center;
                padding-left: 12px;
                padding-right: 12px;
            }
            #sidebar .profile-text {
                display: none;
            }
        }
        
        @media (max-width: 640px) {
            #sidebar {
                display: none;
            }
            main {
                width: 100% !important;
                border-right: none !important;
            }
        }
        
        body {
            min-height: 100vh;
        }